<!--The content below is only a placeholder and can be replaced.-->
<div class='panel pnel-primary'>
   <h1 style="text-align: center">
     {{title}}
   </h1><br><br>

    <div class='panel-body'>
        <div class="panel-responsive">
            <table class='table'>
                <thead class='table-head'>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Director</th>
                        <th>Cast</th>
                        <th>Release Date</th>
                    </tr>
                </thead>
                <tbody class="color-change">
                    <tr *ngFor="let movie of movies; let i=index; let o=odd; let e=even;" [ngClass]="{odd:o,even:e}">
                        <td>{{i}}</td>
                        <td>{{movie.title}}</td>
                        <td>{{movie.director}}</td>
                        <td>{{movie.cast}}</td>
                        <td>{{movie.releaseDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>

